
<table>
  <th>Leagues</th>
    <% @unjoined_leagues.each do |league| %>
      <tr>
        <td><%= league.league_name %></td>
        <td><%= link_to 'join to predict', :controller => :leagues , :action => :join_league , :id => league.id %></td>
      </tr>
    <% end %>
</table>
<table>
  <th>Joined-Leagues</th>
    <% @joined_leagues.each do |league|%>
      <tr>
        <td><%= link_to league.league_name , :controller => :rounds , :action => :view_rounds , :league_id => league.id %></td>
      </tr>
    <% end %>
</table>


