<table class="table">
    <% @unjoined_leagues.each do |league| %>
      <tr>
        <td>  </td>
        <td><%= league.league_name %></td>
        <td><%= link_to 'join to predict', :controller => :leagues , :action => :join_league , :id => league.id %></td>
      </tr>
    <% end %>
    <% @joined_leagues.each do |league|%>
      <tr>
        <td><span class="label label-default">Joined</span></td>
        <td><%= link_to league.league_name , :controller => :matches , :action => :view_matches, :league_id => league.id, :round_id => league.upcoming_round.try(:id) %></td>
        <td></td>
      </tr>
    <% end %>
</table>


