<h1>Predictions</h1>
<<table bgcolor="#B2BEB5">
  <tr>
  </tr>
  <% @predictions.each do|prediction|%>
  <tr>
    <td><b><i><%= prediction.club1_predicted_score %> --</b></i></td>
   </tr>
  <% end %>
</table>