<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
<h1>Rounds</h1>
<table bgcolor="#B2BEB5">
  <tr>
    <td><b>Weeks</b></td>
  </tr>
  <% @rounds.each do|round|%>
  <tr>
    <td><b><i><%= round.round_name %> --</b></i></td>
    <td><i><%= link_to 'View Matches',{:controller => :matches , :action => :view_matches, :round_id => round.id}, 'data-no-turbolink' => true %></i></td>
   </tr>
  <% end %>
</table>